@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    margin: 0;
    overflow: hidden;
    height: 100svh;
    display: flex;
    font-family: 'Lora', 'Times New Roman', Times, serif;
    user-select: none;
    background-color: black;
}

#gameplay, #start {
    display: none;
    overflow: hidden;
    animation: up .5s cubic-bezier(0, 1, 0, 1) forwards;
}

@keyframes up {
    from {
        opacity: 0;
        translate: 0 20vh;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes up-alt {
    from {
        opacity: 0;
        translate: 0 10vh;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes right {
    from {
        opacity: 0;
        translate: 10vh 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes fade {
    from {
        opacity: 0;
        scale: 0.8;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

b {
    font-weight: 700;
}

#controls {
    padding: 2em;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

#moves {
    display: flex;
}

#input {
    background-color: oldlace;
    font-family: 'icomoon';
    height: calc(1em + 8px);
    text-align: left;
    width: 80%;
    text-wrap: wrap;
    overflow: scroll;
    margin-right: 16px;
    font-size: 2em;
    scroll-behavior: smooth;
    padding: 16px;
    transition: color 500ms ease-out;
}

#confirm {
    width: 20%;
}

#dpad {
    width: fit-content;
    text-align: center;
    font-size: 2em;
    align-self: center;
    margin-top: 1em;
    margin-left: auto;
}

td {
    border-radius: .5em;
    animation: fade 1s cubic-bezier(0, 1, 0, 1) forwards;
}

.tableButton {
    background-color: orange;
}

.tableButton:hover {
    color: white;
}

.tableButton:active {
    background-color: orangered;
}

h1 {
    font-weight: 500;
    font-style: italic;
    font-size: 5em;
    margin: 0;
    animation: up .5s cubic-bezier(0, 1, 0, 1) forwards;
    overflow: hidden;
}

h2 {
    font-weight: 700;
    font-style: italic;
    font-size: 2em;
    margin: 0;
    opacity: 0;
    animation: right .5s cubic-bezier(0, 1, 0, 1) .5s forwards;
    overflow: hidden;
}

#renderer {
    width: 50%;
    background-color: black;
    animation: fade 1s cubic-bezier(0, 1, 0, 1) 1s forwards;
    opacity: 0;
}

#popup {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
}

#win, #lose {
    position: inherit;
    background-color: white;
    padding: 20px;
    transition: all .5s cubic-bezier(0, 1, 0, 1);
    scale: 0;
    border-radius: 16px;
}


.mobile {
    display: none;
}

.overflow {
    background-color: red;
    color: white;
}

@media (max-width: 1308px) {
    body {
        flex-direction: column;
        width: 100vw;
    }
    #controls > h1 {
        font-size: 2em;
        position: absolute;
        top: .5em;
        left: .5em;
        color: white;
    }
    #controls > h2 {
        font-size: 1em;
        position: absolute;
        top: 3.5em;
        left: 1em;
        color: white;
        animation: up-alt .5s cubic-bezier(0, 1, 0, 1) 1s forwards;
    }
    #renderer {
        height: 50%;
        width: 100%;
    }
    #controls {
        height: 50%;
        justify-content: flex-start;
        width: auto;
        margin: 0;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #confirm {
        width: 40%;
    }
    #input {
        width: 60%;
    }
}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?ep3299');
    src:  url('fonts/icomoon.eot?ep3299#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?ep3299') format('truetype'),
      url('fonts/icomoon.woff?ep3299') format('woff'),
      url('fonts/icomoon.svg?ep3299#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak-as: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-w .path1:before {
    content: "\e900";
    color: rgb(0, 0, 0);
}
.icon-w .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-w .path3:before {
    content: "\e902";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-a .path1:before {
    content: "\61";
    color: rgb(0, 0, 0);
}
.icon-a .path2:before {
    content: "\62";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-a .path3:before {
    content: "\63";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-enter .path1:before {
    content: "\65";
    color: rgb(0, 0, 0);
}
.icon-enter .path2:before {
    content: "\66";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-enter .path3:before {
    content: "\67";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-enter2 .path1:before {
    content: "\6e";
    color: rgb(0, 0, 0);
}
.icon-enter2 .path2:before {
    content: "\6f";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-enter2 .path3:before {
    content: "\70";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-enter3 .path1:before {
    content: "\74";
    color: rgb(0, 0, 0);
}
.icon-enter3 .path2:before {
    content: "\75";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-enter3 .path3:before {
    content: "\76";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-r .path1:before {
    content: "\72";
    color: rgb(0, 0, 0);
}
.icon-r .path2:before {
    content: "\73";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-r .path3:before {
    content: "\77";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-d .path1:before {
    content: "\64";
    color: rgb(0, 0, 0);
}
.icon-d .path2:before {
    content: "\68";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-d .path3:before {
    content: "\69";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.icon-s .path1:before {
    content: "\e915";
    color: rgb(0, 0, 0);
}
.icon-s .path2:before {
    content: "\e916";
    margin-left: -1em;
    color: rgb(0, 0, 0);
}
.icon-s .path3:before {
    content: "\e917";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
  